<%- include('include/_header.ejs') %>

    <div class="main">

        <div class="user-list">
            <a href="/"><span><i class="fa-solid fa-angles-left"></i></span> All users </a>
        </div>
        <div class="form-title">New users</div>

        <%-include('include/_form')%>
    </div>

    </div>
    </body>

    </html>